@import url("https://fonts.googleapis.com/css?family=Raleway:900&display=swap");
@import url("https://fonts.googleapis.com/css?family=Nunito:700&display=swap" );


.infoCart{
    background: #fb5520;
    border-radius: 50px;
    height: 50px;
    width: 160px;
    padding: 0 25px;
    max-width: 160px;
    color: white;
    font-family: "Nunito";
    cursor: pointer;
    transition: 0.6s;
  }

  .infoCart:hover{
    -webkit-box-shadow: 0px 0px 20px 0px rgba(212,115,30,0.43);
    -moz-box-shadow: 0px 0px 20px 0px rgba(212,115,30,0.43);
    box-shadow: 0px 0px 20px 0px rgba(212,115,30,0.43);
    transition: 0.2s;
  }
  
  .logoDiv{
    max-width: 400px;
  }
  
  
  .line{
    min-width: 1px;
    max-width: 1px;
    min-height: 30px;
    margin-right: 20px;
    margin-left: 20px;
    background: white;
  }
  .imgCart{
    margin-right: 10px;
  }
  
  .imgRuble{
    margin-left: 10px;
  }
  
  .noDecoration a{
    text-decoration: none!important;
    color: black;
    cursor: pointer;
  }
  
  .logoDiv img{
    width: 70px;
    height: 83px;
  }
  
  .titleLogo{
    font-family: "Raleway";
    font-size: 28px;
    line-height: 0.8;
    color: #323232;
  }
  
  .textLogo{
    text-align: left;
  }
  
  .textDivLogo{
    margin-left: 10px;  
  }
  .smalltextlogo{
    font-size: 13px;
    color: #999999;
    font-family: "Nunito";
  }