
  .pizzaItems{
    margin-top: 30px;
}
.titlePage{
    font-family: "Nunito";
    margin-top: 20px;
}

.pizzaItem{
    border-radius: 20px;
    min-width: 100px;
    min-height: 350px;
    padding: 0;
    margin-top: 50px;
}
.pizzaItem img{ 
    max-width: 200px;
}

.pizzaName{
    font-family: "Nunito";
}

.customizePizza{
    min-width: 100%;
    min-height: 100px;
}

.propertiesPizza{
  background: #f1eff1;
  border-radius: 10px;
  max-width: 300px;

}

.doughType{
   margin: 5px;
   padding: 10px;
   font-family: "Nunito";
   border-radius: 10px;
}

.pizzaProp{
  cursor: pointer;
}

.activeType{
  background: white;
}

.anactiveType{
  color: #696969;
  transition: 0.3s;
}

.sizePizza{
  margin: 5px;
  padding: 10px;
  font-family: "Nunito";
  border-radius: 10px;
}

.downPizzaCartPart{
  max-width: 223px;
  padding-top: 10px;
  margin: 0 auto;
}
.pizzaPrice{
  width: 50%;
  height: 50%;
}

.buttonAddToCart{
  width: 50%;
  height: 50%;
  cursor: pointer;
  transition: 0.3s;
}

.addButton{
  transition: 0.3s;
}
.addButton:hover{
  -webkit-box-shadow: 0px 0px 20px 0px rgba(212,115,30,0.83);
-moz-box-shadow: 0px 0px 20px 0px rgba(212,115,30,0.83);
box-shadow: 0px 0px 20px 0px rgba(212,115,30,0.83);
  transition: 0.3s;
}

.pizzaPrice{
  font-size: 18px;
  font-family: "Nunito";
}

.priceIconRuble{
  margin-left: 10px;
}

.addButton{
  color: #ff5a17;
  font-family: 18px;
  font-family: "Nunito";
  border: 2px solid #ff5a17;
  border-radius: 50px;
  padding: 5px;
}

.anactiveType:hover{
  color: black;
  transition: 0.3s;
}

.fa-minus{
  transition: 0.3s;
  cursor: pointer;
  color: #ff5a17;
  border: 1px solid #ff5a17;
  padding: 8px 5px;
  border-radius: 50px;
  margin-right: 5px;
}

.fa-plus2{
  transition: 0.3s;
  cursor: pointer;
  color: #ff5a17;
  border: 1px solid #ff5a17;
  padding: 8px 5px;
  border-radius: 50px;
  margin-left: 5px;
}

.deleteOrIcrease{
  font-family: "Nunito";
}


.fa-plus2:hover{
  transition: 0.3s;
  -webkit-box-shadow: 0px 0px 20px 0px rgba(212,115,30,0.83);
-moz-box-shadow: 0px 0px 20px 0px rgba(212,115,30,0.83);
box-shadow: 0px 0px 20px 0px rgba(212,115,30,0.83);}

.fa-minus:hover{
  transition: 0.3s;
  -webkit-box-shadow: 0px 0px 20px 0px rgba(212,115,30,0.83);
-moz-box-shadow: 0px 0px 20px 0px rgba(212,115,30,0.83);
box-shadow: 0px 0px 20px 0px rgba(212,115,30,0.83);}

@media all and (max-width: 500px){
  .titlePage {
      margin-top: 50px;
  }
  .content{
      margin: 0 auto;
  }
}