@import url("https://fonts.googleapis.com/css?family=Raleway:900&display=swap");
@import url("https://fonts.googleapis.com/css?family=Nunito:700&display=swap" );

.content{
    margin: 20px 50px;
    max-width: 100%;
  }
  
  .categoryPizza{
    padding: 8px 20px;
    margin-right: 20px;
    background: #F9EBEA;
    border-radius: 50px;
    transition: 0.6s;
    cursor: pointer;
    font-family: "Nunito";
    margin:  5px 5px;
  }
  .categoryPizza:hover{
    background: #E6B0AA;
    transition: 1s;
  }
  
  .arrowSort{
    font-size: 25px;
    margin-top: 5px;
  }

  .sort{
    font-family: "Nunito";
    margin: 20px 50px;  
    max-height: 25px;
    max-width: 380px;
  }
  
  
  .typeSortText{
    min-width: 190px;
    color: #DC6D55;
    margin-left: 10px;
    border-bottom: 1px dashed #DC6D55;
    cursor: pointer;
  }
  
  .typeSort:hover .test{
    height: 170px;
    border-radius: 10px;
    z-index: 100;
    width: 200px;
    top: 10px;
    right: 0;
    left: 0px;
    position: relative;
    background: white;
    -webkit-box-shadow: 0px 4px 9px 4px rgba(186,147,147,0.4);
    -moz-box-shadow: 0px 4px 9px 4px rgba(186,147,147,0.4);
    box-shadow: 0px 4px 9px 4px rgba(186,147,147,0.4);
  }
  
  @media all and (max-width :620px ){
    .sort{
      margin: 0;
      margin-top: 20px;
      padding: 0;
    }
  }
  
  @media all and (max-width: 500px){
    .typeSort{
      position: relative;
      top: 30px;
      left: -175px;
    }
    .staticText {
      min-width: 150px;
    }
  }
