@import url("https://fonts.googleapis.com/css?family=Raleway:900:&display=swap");
@import url("https://fonts.googleapis.com/css?family=Nunito:700&display=swap" );

body{
  background: #ffdb82;
  margin-top: 50px;
}

header{
  margin: 20px 50px 20px 50px ;
}
.App {
  text-align: center;
  min-width: 90vw;
  max-width: 95vw;
  min-height: 90vh;
  background: white;
  border-radius: 10px;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
